.best-seller-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 200px;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
}

.best-seller-container .best-seller-products {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}
