.homepage-container .cover-image {
    background-image: url('http://localhost:1234/public/homepage/coverimage.JPG');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
